@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: justify;
}

#title p, a, h2 {
    font-family: 'Roboto', sans-serif;
}

a {
    color: white;
}

.normal-font {
    font-size: 16px;
    text-align: justify;
}

.text-center {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    padding: 10px 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #28bf22;
    box-shadow: 5px 5px 4px #eee;
    border-radius: 5px;
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

#title {
    background-color: #28bf22;
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    padding: 0px 10px 20px 10px;
    color: white;
}

#title h1 {
    text-decoration: underline;
}

#socials a {
    margin: 10px 20px;
}

#socials i{
    color: white;
}

#img-div {
    grid-area: 2/2/3/4;
    justify-items: center;
    align-self: center;
    padding: 10px;
}

#tribute-info {
    margin: 20px;
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}

#latest {
    grid-row-start: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    margin-bottom: 20px;
}

#latest iframe {
    display: block;
    margin: 0 auto;
}

footer {
    background-color: #28bf22;
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: 5;
    color: white;
}

.subscribe-btn {
    padding: 5px 15px;
    text-decoration: none;
    color: white;
    background-color: #ff0000;
    border-radius: 5px;
    display: block;
    text-align: center;
}

@media (max-width: 768px) {
    #img-div {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 5;
        padding: 20px;
    }

    #tribute-info {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 5;
    }

    #latest {
        grid-row-start: 4;
        grid-column-start: 1;
        grid-column-end: 5;
    }
    
    footer {
        grid-row-start: 5;
        grid-column-start: 1;
        grid-column-end: 5;
    }
}
